extends base.pug
block title
    title #{data.title}
    style
        include ../style.css
block content
    div.mainheading
        svg(width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-code-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z")
        h1.hello Hello World !
    nav.navbar.navbar-expand-lg.navbar.navbar-light(style='background-color: #e3f2fd;')
        a.navbar-brand(href='/') Hello World 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText'     aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
             #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
            a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li.nav-item
            a.nav-link(href='/explore') Explore
        span.navbar-text
            | A free open source plateform
